 * {
  box-sizing: border-box;
}

body {
  margin: auto;
  padding: 0;
}

a {
  text-decoration: none;
  color: white;
}

/* skyscaper plus more */
.navbar {
  height: 55px;
  background-color: rgba(0, 0, 0, 0.5);
}

.navbar ul {
  margin: auto;
  text-align: right;
  margin-right: 40px;
}

.navbar li {
  font-size: 12px;
  float: left;
  font-family: 'Josefin Sans', 'BenchNine', gill sans;
  text-transform: uppercase;
  font-weight: 200;
  padding: 24px 10px;
  width: 90px;
  margin: 0 6px;
  height: 55px;
  border-bottom: 1px solid transparent;
  transition: 0.5s ease;
  opacity: .6;
  list-style: none;
  text-align: center;
}


.navbar li:hover {
  border-bottom: 3px solid white;
  background-color: rgba(0, 0, 0, 0.4);

}

.navbar .buttons {
  margin-right: 20px;
  float: right;
  padding: 15px 10px;
  padding: 0;
}

.navbar img {
  vertical-align: middle;
  height: 20px;
  width: 20px;
  margin: 15px 10px;
}

main {
  background: url(../Images/skyscraper.jpg) no-repeat center center;
  background-size: cover;
  height: 700px;
  min-width: 827px;
}

.main_name {
  font-size: 7em;
  color: white;
  font-family: 'Lato', 'Josefin Sans', gill sans;
  font-weight: 300;
  text-transform: uppercase;
  text-align: center;
  padding-top: 226px;
  margin: 0;
  vertical-align: middle;
  text-shadow: 4px 4px 14px #000000;
  letter-spacing: -8px;
}

.last_name {
  font-family: 'Josefin Sans', gill sans;
  font-weight: bold;
  margin-left: 10px;
  letter-spacing: 10px;
}

.about_me {
  height: 400px;
  width: 700px;
  margin: 100px auto;
}

.about_me img{
  float: left;
  margin: auto 20px;
  height: 400px;

}

.about_me h2 {
  font-size: 1.5em;
  font-family: 'Josefin Sans', 'BenchNine', gill sans;
  text-transform: uppercase;
}

.about_me p {
  font-family: helvetica, futura, gill sans;
  font-size: 13px;
  font-weight: 300;
  text-transform: none;
}

.portfolio {
  width: 100%;
  margin: 0;
  background-color: #d2d2d2;
}
.portfolio div {
  margin: 0 20px;
}

.portfolio img {
  height: 800px;

  margin: 0;
}
