* {
  box-sizing: border-box;
}

body {
  margin: auto;
}

/* skyscaper plus more */
main {
  background: url(../Images/skyscraper.jpg) no-repeat center center;
  background-size: cover;
  height: 700px;
}

nav {
  height: 55px;
  background-color: rgba(0, 0, 0, 0.5);
}

ul {
  margin: auto;
  text-align: right;
  margin-right: 40px;
}

a {
  text-decoration: none;
  color: white;
}

li {
    float: left;
    font-family: bebas neue, helvetica, gill sans;
    font-weight: 100;
    padding: 20px;
    width: 90px;
    margin: 0;
    height: 55px;
    border-bottom: 0px solid transparent;
    transition: 0.5s ease;
    opacity: .6;
    list-style: none;
}

li:hover {
    border-bottom: 3px solid white;
    background-color: rgba(0, 0, 0, 0.4);
}

h1 {
  font-size: 110px;
  color: white;
  font-family: bebas neue, helvetica, gill sans;
  text-align: center;
  margin: 0;
  padding: 290px;
  font-weight: 100;
text-shadow: 4px 4px 14px #000000;
  letter-spacing: 2px;
}

.last_name {
  font-weight: 400;
}

.about_me div {
  display: block;
}

.main .container {
    margin: 80px auto;
    max-width: 940px;
    padding: 0 10px;
}

.main img{
  float: left;
  margin: 10px 20px;
  height: 150px;
  width: 125px;
}

h2 {
  font-size: 1.5em;
}
